:root{
    /* colors primary*/
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* colors Neutral*/
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white50: hsla(0, 0%, 100%,0.5);
    --white70: hsla(0, 0%, 100%,0.7);
    --dark50: hsla(219, 29%, 14%,0.5);
    --dark70: hsla(219, 29%, 14%,0.70);
    /* breakpoint media */
    ---mobile-bp: 375px;
    --desktop: 1440px;
    /* font size */
    --font-size-title: 18.5px;
}
/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&display=swap');

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.45px;
    font-size: 13px;
}
.author-name{
    font-weight: 600;
}
.card__title{
    font-weight: 600;
    font-size: var(--font-size-title);
}
/* iniatial */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* author grid area declaration */

.author-pic{grid-area: author-pic}
.author-info{grid-area: author-info}

/* mise en form */
body{
    background-color: var(--light-grayish-blue);
}
.container{
    display: grid;
    gap: 35px;
    justify-items: center;
    margin: 15% 6.8%;

}
.card{
    display: grid;
    gap: 13px;
    justify-items: start;
    width:100%;
    padding: 32px;
    border-radius: 12.5px;
}
/* card color change */
.card--violet{
    background-color: var(--moderate-violet);
    color: var(--white);
}

.card--gray{
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}
.card--white{
    background-color: var(--white);
    color: var(--very-dark-blackish-blue);
}
.card--dark-gray{
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}
.author-grade,
.card__content{
    color: var(--light-gray);
}
.txt-dark50{
    color: var(--dark50);
}
.txt-dark70{
    color: var(--dark70);
}
/* end card color change*/

.card__author{
    display: grid;
    gap: 25px;
    align-items: center;
    grid-template:
            "author-pic author-info" auto;
    padding-bottom: 5px;
}
.author-pic{
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--white50);
}

@media screen and (min-width:845px){
    .container>:first-child{grid-area: card1;}
    .container>:nth-child(2){grid-area: card2;}
    .container>:nth-child(3){grid-area: card3;}
    .container>:nth-child(4){grid-area: card4;}
    .container>:nth-child(5){grid-area: card5;}
    .container{
        grid-template: 
        "card1 card1 card2 card5"
        "card3 card4 card4 card5";
    }
    .card{
        display: grid;
    }
}